.navbar {
  width: 280px;
  z-index: 30px;
  // padding: 0;
  // margin: 0;
  // width: Hug (280px)
  // height: Fixed (1,024px)
  padding: 40px, 20px, 80px, 20px;
  background-color: rgba(255, 255, 255, 1)  ;
  border: 0px, 2px, 0px, 0px;
  gap: 80px;
}

.logo-link {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.logo {
  object-fit: contain;
  transform: translateX(40px);
  margin-bottom: 32px;
  margin-top: 0;
  margin: 0 auto;
}

.nav-menu {
  width: 280px;
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
  margin-bottom: 22px;
  font-size: 18px;
  font-family: Poppins;
}

.nav-list {
  background-color: rgba(17, 130, 182, 1);
}

.nav-link {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

.active {
  background-color: rgba(17, 130, 182, 1);
  width: 240px;
  height: 59px;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  gap: 8px;
}

.no {
  margin-top: 0px;
}