.navbar {
  height: 100vh;
  z-index: 30px;
  padding: 40px, 20px, 80px, 20px;
  background-color: rgba(255, 255, 255, 1);
  border: 0px, 2px, 0px, 0px;
  gap: 80px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.08);
}

.logo-link {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.logo {
  object-fit: contain;
  transform: translateX(40px);
  margin-bottom: 32px;
  margin-top: 0;
  margin: 0 auto;
}

.nav-menu {
  width: 280px;
  display: flex;
  flex-direction: column;
  // list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  width: 240px;
  margin-bottom: 22px;
  font-size: 18px;
  font-family: Poppins;
}

.nav-link {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.auto {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  color: rgba(158, 158, 158, 1);
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}

.nav-link:hover {
  text-decoration: underline;
}

.active {
  background-color: rgba(17, 130, 182, 1);
  width: 240px;
  padding: 16px;
  color: #fff;
  border-radius: 10px;
  gap: 8px;
}

.icon {
  width: auto;
  margin-right: 10px;
}

.app-text {
  text-align: center;
  color: rgba(158, 158, 158, 1);
  margin-bottom: 22px;
}

.icon-list {
  width: 60px;
  margin: 0 auto;
  list-style: none;
  margin-bottom: 220px;
}

.icon-item {
  margin-bottom: 17px;
}

.setting {
  width: 240px;
  height: auto;
  margin: 0 auto;
  padding: 16px, 32px, 16px, 16px;
  border-radius: 10px;
  border: 1px solid rgba(158, 158, 158, 1);
}
